@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.bg-primary {
  background: #0F172A;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
} 

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477FF;
}

/* hero */


.custom-contact-link.text-decoration-none::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease-in-out; /* Set the transition for the width property */
}
.custom-contact{
  padding-top: 5%;
}

.custom-contact-link.text-decoration-none:hover::after {
  width: 50%;
}