@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.techstack-icon {
  @apply w-12 h-12 m-2 inline-block;
}

.mobile-nav {
  @apply block md:hidden fixed text-3xl top-10 py-2 w-full h-full bg-primary duration-500;
} 

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #FFD4D4;
}



.custom-contact-link.text-decoration-none::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease-in-out; /* Set the transition for the width property */
}


.custom-contact-link.text-decoration-none:hover::after {
  width: 100%;
  /* When hovering over the button, transition the width to 100% */
}